include models/model.h5
include README.md

include *.txt
include *.md 
include *.py
recursive-include src/*

include src/model.py
include src/predict.py
include src/utils.py
include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]